@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --color-1: rgba(14,154,174,1);
  --color-2: rgba(42,130,206,0.8);
  --color-3: rgba(255,223,185,1);
  --font-color: white;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(42,130,206,0.7880725646286868);
  background: linear-gradient(167deg, var(--color-1) 0%, var(--color-2) 57%, var(--color-3) 92%);
  color: var(--font-color);
  text-align: center;
}

main {
  height: 50%;
  width: 30%;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 2px 2px 10px #fff;
  padding: 2rem;
}

input {
  padding: 0.3rem 1rem;
  border-radius: 100px;
}

p {
  font-size: 1.2rem;
}